@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: Rubik, sans-serif;
    text-decoration: none;
}

.LandingPage {
    text-align: center;
    background-color: var(--grey);
    position: relative;
}

.HeroSection {
    text-align: start;
    padding: 18em 5em 11em 16em;
    background: url('../../Assets/Landing.png');    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height:100vh;
    max-height: 875px;
}

.HeroSection h2 {
    margin-bottom: 20px;
    color: var(--grey);
}

.HeroSection p {
    margin-bottom: 40px;
    font-size: 18px;
    color: var(--grey);
}

.landingNavLink {
    text-decoration: none;
    color: white;
}

.landingButton {
    background: var(--teal) !important;
    border-radius: 15px;
    border-color: var(--grey);
}

.landingButton:hover {
    color: white;
    transition: box-shadow 0.3s ease-in-out;
    background: var(--dark-teal) !important;
    transition: 0.3s ease;
}

.FeatureSection {
    padding: 6em 2em;
}

.Feature {
    display: inline-block;
    width: 30%;
    height: 30vh;
    padding: 40px;
    margin: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 8px;
}

.Feature:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.footer {
    text-align: center;
    background: #080a08;
    padding: 20px 0;
    font-size: 0.875rem;
    font-weight: 500;
    color: #fff;
}