.HomeLabel {
    color: #A7A7A7;
}

.filtersRow {
    margin-bottom: 20px;

}

.filtersRow > * {
    margin-right: 20px;

}

.filtersRow form {
    background-color: #fff;
    border: var(--grey) solid 1px;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
    padding: 5px;
    position: absolute;
    top: 40px;
    display: none;
    z-index: 1;
}

.filtersRow button:focus + form, 
.filtersRow button:hover + form,
form:focus, 
form:hover {
    display: block;
}

.btnDropFilterP, .btnDropFilterS {
    background: unset;
    color: #A7A7A7;
    font-weight: unset;
    border-radius: unset;
    padding: unset;
}

.filterButtons > button {
    height: fit-content;
    padding: 5px 10px;
    border-radius: 50px;
    margin-right: 10px;
}

.allOn, .completedOn, .currentOn, .notStartedOn {
    background-color: var(--teal);
    color: white;
}

.allOff, .completedOff, .urgentOff, .currentOff, .notStartedOff {
    background-color: white;
    font-weight: 100;
    color: var(--darkGrey);
}

.allOff:hover, .completedOff:hover, .currentOff:hover, .notStartedOff:hover {
    background-color: var(--teal);
    opacity: 0.7;
    color: white;
}

.urgentOn {
  background-color: var(--red); /* Red background for urgent button when active */
  color: white;
}

.urgentOff {
  background-color: white;
  font-weight: 100;
  color: var(--darkGrey);
}

.urgentOff:hover {
  background-color: var(--red); /* Red background on hover for inactive urgent button */
  opacity: 0.7;
  color: white;
}


.gg-search {
    float: inline-end;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 200px;
    height: 30px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px;
}

.gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px;
}

.userTasks {

    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: var(--shadow);
    width: 30%;
    margin: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: box-shadow 0.3s ease-in-out;
}

.userTasks:hover {
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.userTasks > * {
    display: flex;
    margin: 10px 10px;
}

.priorityBadge {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border: var(--red) solid 2px;
    border-radius: 25px;
    padding: 0 10px;
    color: var(--red);
    display: flex;
    align-items: center;
}

.timeBadge {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 25px;
    padding: 0 10px;
    color: white;
    display: flex;
    align-items: right;
}

.timeBadge img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(351deg) brightness(104%) contrast(103%);
}

.userTasks p {
    color: #A7A7A7;
}

.userProjects {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: box-shadow 0.3s ease-in-out;
    width: 70%;
    margin: 10px 0;
        cursor: pointer;

}

.userProjects:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.userProjects .content1 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.userProjects .settings {
    display: flex;
}

.userProjects .settings .linkContainer {
    display: flex;
    justify-content: flex-end;
}

.userProjects .settings .link {
    display: inline-block;
    color: var(--grey);
    font-weight: bold;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 16px;
}

.userProjects .timeBadge {
    display: inline-flex;
    align-items: center;
    margin: 10px 0;
}

.projectName {
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
}

.projectName h4 {
    margin-right: 40px;
}

.progressBar {
    position: relative;
    width: 70%;
    height: 20px;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 30px 60px -12px inset, rgba(191, 191, 191, 0.1) 0px 18px 36px -18px inset;    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    border-radius: 10px;
    overflow: hidden;
    margin-left: 10px;
    padding: 2px;
}

.progressFill {
        box-shadow: rgba(50, 50, 93, 0.1) 0px 50px 100px -20px, rgba(0, 0, 0, 0.) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    height: 100%;
    background-color: var(--teal);
}

.progressPer {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--darkGrey);
    font: bold 14px;
}

/* Mohamed Abdo part - AccountSetting */

.account-settings {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-wrap: wrap;
}

.user-info,
.preferences,
.other-options {
    width: 100%;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    margin-bottom: 20px;
    width: calc(50% - 20px);
    margin-right: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.edit-account-button {
    background-color: var(--teal);
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.edit-account-button:hover {
    background-color: #45a049;
}

.delete-account-button {
    background-color: var(--red);
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.delete-account-button:hover {
    background-color: #da190b;
}

.userTasks > a {
    text-decoration: unset;
}

.complete-task-button, .completed-task-icon {
    position: absolute;
    right: 0;
    padding: unset;
    width: 20px;
    height: 20px;
    margin: 30px;
}

.complete-task-button {
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: white;
    transition: box-shadow 0.3s ease-in-out;
    background: none;
    opacity: 0.2;
}

.complete-task-button:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px 2px inset;
}

.completed-task-icon {
    filter: brightness(0) saturate(100%) invert(51%) sepia(41%) saturate(654%) hue-rotate(73deg) brightness(96%) contrast(85%);
    width: max-content;
}
