.tasks{
    color: #A7A7A7;
}
.filtersRow{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.filtersRow form{
    background-color: #fff;
    border: var(--grey) solid 1px;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
    padding: 5px;
    position: absolute;
    top: 20px;
    display: none;

}

/* .filtersRow button:hover .filtersRow form{

} */

.filtersRow button:hover .filtersRow form{
    display: block;
}


.btnDropFilterP, .btnDropFilterS {
    background: unset;
    color: #A7A7A7;
    font-weight: unset;
    border-radius: unset;
    padding: unset;
}

.gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px
    }

    .gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
    }




.userTasks{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: var(--shadow);
    width: 30%;
    margin: 10px 0;
}

.userTasks > * {
    display: flex;
    margin: 10px 10px;
    /* padding: 5px; */

}
.priorityBadge{
    border: var(--red) solid 2px;
    border-radius: 25px;
    padding: 0 10px;
    color: var(--red);
    display: flex;
    align-items: center;
}

.timeBadge {
    border: var(--red) solid 2px;
    background-color: var(--red);
    border-radius: 25px;
    padding: 0 10px;
    color: white;
    display: flex;
    align-items: right;

}

.timeBadge img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(351deg) brightness(104%) contrast(103%);

}
.userTasks  p{
    color: #A7A7A7;
}
.userProjects{

    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: var(--shadow);
    width: 70%;
    margin: 10px 0;
}
.userProjects .settings .linkContainer{
    display: flex;
    justify-content: flex-end;

}
.userProjects .settings .link{
    display: inline-block;
    color : var(--grey);
    font-weight: bold;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 16px;

}
.userProjects .timeBadge{
    display: inline-flex;
    align-items: center;
    margin: 10px 0;
}
.projectName{
    display: flex;
    /* align-items: center; */

}
.projectName h4{
    margin-right: 40px;
}


.projectName {
    display: flex;
    flex-direction: row;
}
.progress{
    position: relative;
    width: 70%;
    height: 20px;
    background-color: var(--grey);
    border-radius: 10px;
    overflow: hidden;
    margin-left: 10px;

}
.progressFill{
    width: 50%;
    height: 100%;
    background-color: var(--teal);
}
.progressPer{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black);
    font: bold 14px;
}
