.sideMenu {
  box-shadow: var(--shadow);
    min-width: 30px;
    height: 100%;
    background-color: var(--lightGrey);
    border-right: 2px var(--teal) solid !important;
}

.menu {
    height: inherit;
}

.sideMenuHeader {
    padding: 30px 10px;

}
.sideMenuHeader > img {
    float: inline-end;
}

.dropdown-container {
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #fff; /* or any other background color you want */
  border: 1px solid #ddd; /* or any other border style you want */
  padding: 10px;
  z-index: 1; /* make sure it's on top of other elements */
}
.divider {
  width: 80%;
  height: 1px;
  background-color: #D9D9D9;
  padding: 0 10px; /* add padding to the divider */
  margin: 10px auto;
}

.collapsed-divider {
  width: 40px; /* or any other width you want when the menu is collapsed */
}

.expanded-divider {
  width: 200px; /* or any other width you want when the menu is expanded */
}

.sideMenuItem, .menuItem {
    display: flex;
    align-items: center;
    
    position: relative;
}

.sideMenuItemContent {
    display: flex;
    align-items: center;
}

.sideMenuItemContent > img {
    margin: 0px 10px;

}

.ps-menu-button {
    padding-right: 0 !important;
}

.dot {
    display: none;
}

.NavLink {
    text-decoration: none;
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.NavLink :hover {
filter: brightness(0) saturate(100%) invert(51%) sepia(0%) saturate(4%) hue-rotate(214deg) brightness(94%) contrast(86%);}

.NavLink .active {
    color: var(--teal);
}

/* Menu Collapsing */
.sideMenuItemContent > p {
    display: block;
    margin-right: 30px;
    color: var(--darkGrey);
} 

.menu.collapsed > .sideMenuHeader > img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.active > * > * > * {
    color: var(--teal) !important;
    font-weight: 700;
    filter: brightness(0) saturate(100%) invert(65%) sepia(10%) saturate(2377%) hue-rotate(119deg) brightness(109%) contrast(74%);
}

.active .dot {
    display: block;
}


.sideMenuProjects {
    position:fixed;
    left: 170px;
    border: 1px solid var(--grey);
    background: white;
    padding: 10px;
    z-index: 1;
}

/* overriding navlink hover for sidemenu */ 
.sideMenuProjects:hover {
    filter: none;
}



/* Solving a glith */
.menuItem .divider {
    display: none;
}