.navbar {
    background-color: #efefef;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
}
.BreadCrumb a {
    text-decoration: none;
    color: #A7A7AA;
}

.BreadCrumb a:hover {
    text-decoration: underline;
}

.BreadCrumbParent {
    color: #A7A7AA;
}

.BreadCrumbChild {
    color: #3C3C3C;
}