.input-wrapper>*{
  margin: 1em 8em;
  padding: 1.25em;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #48C7B0;
}

th,
td {
  padding: 20px;
}

th{
  border-bottom: 1px solid #ddd;
  padding-bottom: 22px;
}

input{
  min-width: 100px;
  max-width: 150px;
}