.input-wrapper>*{
  margin: 1em 8em;
  padding: 1.25em;
}

.input-wrapper span {
  color: var(--teal);
  font-weight: 900;
}

table.taskList {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid var(--teal);
}

.taskList th,
.taskList td {
  padding: 20px;
}

.taskList th{
  border-bottom: 1px solid #ddd;
  padding-bottom: 22px;
}

.taskList input{
  min-width: 100px;
  max-width: 150px;
}